/* Change the root color only */
:root {
    --primary: #20c063;
    --secondary: #10a75f;
    --text: #1c1c1c;
    --bg: #fcfcfc;
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}


* {
    font-family: font-family: -apple-system, BlinkMacSystemFont, sans-serif!important;
}

/* BUTTONS */

button:focus {
    outline:0;
}

.btn-primary {
    background: var(--primary)!important;
    border:none;
}
.btn-outline-primary {
    border-color: var(--primary)!important;
    color: var(--primary);
}
.btn-primary:hover {
    border:none;
    background: var(--primary);
    box-shadow: 0px 0px 50px #50505050;
}
.btn-primary:disabled {
    box-shadow: none!important;
}
.btn-outline-primary:active {
    border-color: var(--primary)!important;
    background: var(--primary)!important;
}
.btn-outline-primary:focus {
    box-shadow:none;
}

.btn-primary:matches(:focus, :disabled, .active) {
    background: var(--primary);
    outline:0;
}
.btn-outline-primary:hover {
    border-color: var(--primary)!important;
    background: var(--primary)!important;
    color:white;
    box-shadow: 0px 0px 50px #50505050;
}

/* OTHER */

.form-control-lg {
    margin-bottom:2rem;
}

.modal-title {
  display: inline-block;
  font-weight: 800;
  opacity: 0.4;
}

.modal-title:hover {
  color: var(--primary)!important;
}

.modal-title-active {
  color: var(--primary)!important;
  border-bottom: 4px solid var(--primary)!important;
  opacity: 1.0 !important;
}

#postInput {
    resize: none;
}

.form-control:focus {
    border-color: darkgrey;
    outline: 0;
    box-shadow:none;
}

.pos-f-t {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.bg-primary {
    background-color: var(--primary)!important;
}

.statusBarSpace {
    margin-top:20px!important;
}

.form-group {
    width: 520px !important;
    margin-top: 2rem;
}

.card {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius:.3rem;
}

.card-text {
    font-size: 1.25rem;
}

.card:hover {
    background: var(--primary)!important;
    color: white;
    cursor: pointer;
    border:1px solid var(--primary);
}

.card:active {
    background: var(--secondary)!important;
    border:1px solid var(--secondary);
}

/* SPINNER */

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: var(--primary);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#map {
        height: 100%;
      }

/* Feed */

img {
    width:100%;
    height:auto;
    display:none;
}

/* Login/Signup */

.color-success {
    color: var(--primary)!important;
}

.color-danger {
    color: red!important;
}

small {
    margin-bottom: 1rem!important;
    margin-left: 0.75rem!important;
}

.comment {
    margin-left: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}


.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* MOBILE */


@media (min-width: 320px) and (max-width: 480px) {

  .form-group {
        width:95%!important;
    }
}


/* NAV BAR STUFF */

@media (min-width: 320px) and (max-width: 991px) {

    .dropdown-item {
        color:white;
    }
    .dropdown-menu {
        background:var(--primary);
        padding:0;
        border:none;
    }
    .dropdown-item:focus, .dropdown-item:hover, drop-downitem:active {
    color: white;
    text-decoration: none;
    background-color: var(--primary);
    }

}
